<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Nationalities</title>
</head>
<body>

<th:block th:include="~{fragments/header}"></th:block>
<th:block th:include="~{fragments/slider}"></th:block>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Nationalities</h2>
            </div>
            <div class="col-6">
                <h3>
                    <a th:href="@{'/admin/nationalities/new'}" class="genric-btn success circle pull-right">
                        Add
                    </a>
                </h3>
            </div>
        </div>
        <div th:each="nationality : ${nationalities}" class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget right_sidebar">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                        <div class="detials">
                            <h3 th:text="${nationality.nationality}">Nationality</h3>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                        <div class="detials">
                            <h3>
                                <a th:href="@{'/admin/nationalities/'+ ${nationality.id} + '/update'}"
                                   class="genric-btn success circle pull-right">
                                    Edit
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>


<th:block th:include="~{fragments/footer}"></th:block>
<script src="/js-ajax/users.js"></script>
</body>
</html>