<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Latest public posts</title>
</head>
<body>

<th:block th:include="~{fragments/header}"></th:block>
<th:block th:include="~{fragments/slider}"></th:block>
<!--================Blog Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h1 class="widget_title">Recent Post</h1>
                        <div id="feed-content"></div>

                        <div class="blog_right_sidebar" style="text-align: center">
                            <input type="hidden" value="/posts" id="path">
                            <button id="feed-more" class="genric-btn primary-border circle">
                                more <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </button>
                        </div>

                    </aside>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget right_sidebar">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input id="search-input" type="text" class="form-control"
                                       placeholder='Search Keyword'
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                            </div>
                        </div>
                        <button id="search" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">
                            Search
                        </button>
                    </aside>
                    <aside class="single_sidebar_widget search_widget right_sidebar">
                        <h1 class="widget_title">Sort</h1>

                        <button id="date" class="genric-btn primary-border circle primary-sort">
                            <span class="btn-title"> Date </span>
                        </button>

                        <button id="comments" class="genric-btn primary-border circle sort primary-sort">
                            <span class="btn-title"> Comments </span>
                        </button>

                        <button id="likes" class="genric-btn primary-border circle sort primary-sort">
                            <span class="btn-title"> Likes </span>
                        </button>
                    </aside>

                    <aside class="single_sidebar_widget post_category_widget right_sidebar">
                        <h1 class="widget_title" style="margin-bottom: 25px">Category</h1>

                        <span th:if="${categories.isEmpty()}">
                            <p th:text="#{categories.emptytitle}"></p>
                        </span>
                        <span th:unless="${categories.isEmpty()}">

                            <ul class="list cat-list">
                                <li>
                                    <div class="row">
                                         <div class="col-3">
                                             <img src="/img/cooking.png" width="80%" alt="category">
                                         </div>
                                         <div class="col-9">
                                               <a id="0" class="cat">
                                                    <h2>all categories</h2>
                                                </a>
                                         </div>
                                    </div>
                                </li>
                                <li th:each="cat : ${categories}">
                                    <div class="row">
                                         <div class="col-3">
                                             <img th:src="${cat.emoji}" width="100%" alt="category">
                                         </div>
                                         <div class="col-9">
                                               <a th:id="${cat.id}" class="cat">
                                                    <h2 th:text="${cat.category}">category</h2>
                                                </a>
                                         </div>
                                    </div>
                                </li>
                            </ul>
                        </span>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->
<th:block th:include="~{fragments/footer}"></th:block>
<script src="/js-ajax/feed.js"></script>
</body>
</html>