<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <title>Update post</title>
</head>
<body>

<th:block th:include="~{fragments/header}"></th:block>
<th:block th:include="~{fragments/slider}"></th:block>

<div class="recepie_details_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-md-4 col-sm-6 col-xs-12">
                <div class="recepies_thumb">
                    <span th:if="${post.fileUrl != null && post.mediaType.id == 1}">
                            <img width="100%" th:src="${post.fileUrl}" alt="post picture">
                        </span>

                    <span th:if="${post.fileUrl != null && post.mediaType.id == 2}">
                           <img width="100%" src="/img/video.png" alt="video default"/>

                        </span>

                    <span th:if="${post.fileUrl == null}">
                             <img width="100%" src="/img/photo.png" alt="post picture"/>
                        </span>
                </div>
            </div>
            <div class="col-lg-12">
                <form action="#" th:action="@{'/posts/' + ${id} + '/update'}" th:object="${post}" method="post"
                      class="contactForm"
                      enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6 col-lg-6  col-sm-12 col-xs-12">
                            <div class="form-group">
                                <h4>Post visibility</h4>
                                <select th:field="*{visibilityId}" class="form-control upper-case"
                                        name="visibility">
                                    <option th:each="visibility : ${visibilities}"
                                            th:value="${visibility.id}"
                                            th:text="${visibility.type}">
                                    </option>
                                </select>
                                <h4 class="error" th:errors="*{visibilityId}"></h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6  col-sm-12 col-xs-12">
                            <div class="form-group">
                                <h4>Post picture or video </h4>
                                <input name="file" type="file" th:field="*{file}"/>
                                <h4 class="error" th:errors="*{file}"></h4>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6  col-sm-12 col-xs-12">
                            <div class="form-group">
                                <h4>Title </h4>
                                <input class="form-control" name="title" id="title" type="text"
                                       th:field="*{title}"
                                       onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Title'"
                                       placeholder='Title'>
                                <h4 class="error" th:errors="*{title}"></h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4  col-sm-12 col-xs-12">
                            <div class="form-group">
                                <h4>Category</h4>
                                <select th:field="*{categories}" class="form-control upper-case"
                                        name="categories" th:multiple="multiple">
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.category}">
                                    </option>
                                </select>
                                <h4 class="error" th:errors="*{categories}"></h4>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <h4>Description</h4>
                                <textarea class="form-control" name="description" id="description" type="text"
                                          th:field="*{description}"
                                          onfocus="this.placeholder = ''"
                                          onblur="this.placeholder = 'Description'"
                                          placeholder='Description'></textarea>
                                <h4 class="error" th:errors="*{description}"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="genric-btn success-border e-large" value="Save">
                            SAVE
                        </button>
                        <a th:href="@{'/posts/' + ${id} + '/delete'}"
                           class="genric-btn primary-border e-large">
                            DELETE
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>